<% include partials/header %>

<div class="container" style="margin:0 auto">
	<img src="<%= campground.image %>">
	<h3><%= campground.name %></h3>
	<h5><%= campground.description %></h5>
</div>

<div class="container" s//tyle="margin:0 auto">
		<% campground.comments.forEach(function(comment){ %>
			<p><%= comment.author %></p>
			<p><%= comment.text %></p>
		<% }) %>
</div>

<% include partials/footer %>