<% include ../partials/header %>

<div class="container" style="margin:0 auto">
	<img src="<%= campground.image %>">
	<h3><%= campground.name %></h3>
	<h5><%= campground.description %></h5>
</div>
<br>

<div class="container">
	<h6>Comments:</h6>
	<% campground.comments.forEach(function(comment){ %>
		<p><%= comment.author %> - 
		<%= comment.text %></p>
	<% }) %>
</div>

<% include ../partials/footer %>